<h1>Stupid Coaching</h1>

<blockquote>
  <p><%= @question %></p>
  <cite>You</cite>
</blockquote>

<blockquote class="coach">
  <p><%= @answer %></p>
  <cite>Your coach</cite>
</blockquote>

<p class="link"><%= link_to "Ask a new question", ask_path %></p>
